body {
    text-align: center;
    margin: 0;
    /* 1em = 20px */
    font-size: 20px;
    /* make all elements center and in column  */
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    background-image: url(../images/oriental-draw-1181836.jpg);
    background-size: cover;
    color: whitesmoke;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Тінь для тексту */
}
#game-board {
    height: 632px;
    width: 575px;
    margin: 0 auto;
    background-color: #f5d443;
    border: 10px solid #d28f2b80;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
}
.card {
    height: 100px;
    width: 90px;
    margin: 3px;
}